@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300&family=Yuji+Syuku&display=swap');
.app {
    display: flex;
    flex-direction: column;
    font-family: 'Cabin', sans-serif;
    align-items: center;
    background-color: whitesmoke;
    padding-bottom: 100px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-top: 70px;
    border-radius:0.12em;
    box-sizing: border-box;
    transition: all 0.2s;
    
}

.button1{
    padding:0.35em 1.2em;
    border: 1px solid rgb(157, 151, 151);
    font-weight: 600;
    font-size: 17px;
    color: #423842;
    text-decoration: none;
    background-color: rgb(202, 197, 190);
}


.button1:hover {
    border: 2px solid rgb(2, 2, 2);
}


.app h3 {
    text-shadow: 1px 1px 4px black;
    font-size: 2.4rem;
    margin-bottom: 0;
    margin-top: 100px;
}

.app h3 b {
    color: rgb(252, 212, 33);
}

.area {
    padding: 50px;
    background-color: darkviolet;
    border-radius: 20px;
    margin-top: 100px;
}

.circle {
    padding: 100px;
    border-radius: 50%;
    margin-top: 50px;
    width: 75px;
    height: 75px;
}

.bulb {
    position: relative;
    right: 90px;
    bottom: 85px;
}

.ref-button {
    width: 200px;
    font-size: 17px;
    height: 45px;
    background-color: rgb(243, 168, 71);
    border: 2px  #423842;
    margin-top: 75px;
    margin-bottom: 50px;
}

.ref-button:hover {
    border: 2px solid black;
}
